<div id="{{this._id}}">
  <a href="{{this.url}}"><img src="{{this.img}}"></a>
  <h3>{{this.headline}}</h3>
  <p>{{this.summary}}</p>

  <button class="addNote" data-id="{{this._id}}">Add a Note</button>
</div>